.b-logo
  text-decoration: none
  font-weight: bold
  color: $extra-color
  &:hover
    text-decoration: none
    color: $extra-color
  &__icon, &__text
    display: inline-block
    vertical-align: middle
  &__icon
    width: 43px
    height: 43px
    margin-right: 2px
    svg
      max-width: 100%
      max-height: 100%

  //Icon Style
  #Touch_ID
    path
      fill: none
      stroke: $extra-color
      stroke-width: 8
      stroke-linecap: round
      stroke-miterlimit: 10