.b-top-menu
  &__layout
    padding: 0
    margin: 0
    list-style: none
    font-size: 22px
    line-height: 46px
  &__item
    vertical-align: middle
    display: inline-block

  &__link
    color: #010101
    padding: 0 35px