@import "mixins"
@import "fonts"
@import "variables"
@import "../../plugins/font-awesome/scss/font-awesome"
@import "../../plugins/bootstrap-sass/assets/stylesheets/bootstrap"

@import "components/b-logo"
@import "components/b-top-menu"
@import "components/b-header"


h1, h2, h3, h4, p, ul
  margin: 0
  padding: 0

ul
  list-style: none

body
  font-family: $font-stack
  font-size: $font-size
  font-weight: normal